.hero-bg{
  background: url("assets/hero-banner.jpg") center center no-repeat;
  background-size: cover;
  border-bottom-right-radius: 60px;
  overflow: hidden;
  @media (min-width: $breakpoint){
    border-bottom-right-radius: 100px;
  }
}
.hero {
  background-color: rgba(0,0,0,.5);
  color: $white;
  min-height: rem-calc(350);
  img {
    max-height: rem-calc(64);
  }
  p {
    font-size: rem-calc(30);
    font-stretch: condensed;
  }
  @media (min-width: $breakpoint) {
    min-height: rem-calc(500);
    img {
      max-height: rem-calc(100);
    }
    p {
      font-size: rem-calc(50);
      font-stretch: condensed;
    }
  }
}

.news {
  .q-card{
    box-shadow: none;
    border-radius: 0;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    @media (min-width: $breakpoint){
      border-bottom-right-radius: 100px;
    }
  }
  &-card {
    position: relative;
    overflow: hidden;
    height: rem-calc(270);
    @media (min-width: $breakpoint){
      height: rem-calc(450);
    }
  }

  &-card-bg {
    position: absolute;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 5;
  }

  &-card-overlay {
    box-shadow: inset 0px -180px 65px -50px rgba(0,0,0,0.9) !important;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 6;
  }

  &-card-content {
    z-index: 10;
    color: $white;
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: 700;
  }
}

.q-tab--active .q-tab__indicator{
  height: 5px;
}