// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #082539
$secondary = #015ea0
$accent    = #9C27B0

$positive  = #3adb76
$negative  = #cc4b37
$info      = #31CCEC
$warning   = #ffae00

$white     = #FFF
$grey      = #333

@import '~quasar-variables-styl'
